$corFiap: #ed145b;

@mixin estiloFiap($cor, $backGround){
    color: $cor;
    background-color: $backGround;
}

.cabecalho{
    @include estiloFiap($corFiap, #ebebeb);
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;

    ul{
        list-style: none;
        
        li a{
            text-decoration: none;
            color: $corFiap;
            display: block;
            padding: 8px 16px;
            transition: 0.5s;

            &:hover{
                @include estiloFiap(#FFF, $corFiap)
            }
        }

        .active{
            @include estiloFiap(#fff, $corFiap !important);
        }

    }
}